<h3>Date-time picker</h3>
<p>Pick a date and time</p>
<br />
<input id="datetime" type="datetime" />
<button id="postButton">Post</button>
<div class="popupWindow">
    <div class="popupWindowContent">

        Select Year:
        <select id="selectYear"></select>
        Month:
        <select id="selectMonth"></select>
        Day:
        <select id="selectDay"></select>

        <span id="closePopup">&times;</span>
        <div id="timePicker">
            Select time
            <input type="time" name="pickTime" value="" />
        </div>
    </div>
</div>

